<div class="pin-wrapper">

  <h1 class="title">PIN</h1>

  <div class="tab-container">
    <button [class.active]="activeTab==='set'" (click)="setTab('set')">
      Установить PIN
    </button>
    <button [class.active]="activeTab==='change'" (click)="setTab('change')">
      Сменить PIN
    </button>
  </div>

  <div class="form-group">
    <input type="password" [(ngModel)]="pin" placeholder="Введите PIN" maxlength="4">
    <input type="password" [(ngModel)]="repeatPin" placeholder="Повтор PIN" maxlength="4">
  </div>

  <!-- 🔥 Биометрия -->
  <div class="biometric-box" (click)="handleBiometric()">

    <!-- iOS -->
    <img *ngIf="deviceType==='ios'" src="assets/icons/face-id.png">

    <!-- Android -->
    <img *ngIf="deviceType==='android'" src="assets/icons/fingerprint.png">

    <!-- Web -->
    <img *ngIf="deviceType==='web'" src="assets/icons/fingerprint.png">

    <p>Войти с биометрией</p>
  </div>

  <button class="btn-main" (click)="handleBiometric()">
    Настроить биометрию
  </button>

  <button class="btn-skip" (click)="skipBiometrics()">
    Пропустить
  </button>

</div>