<div class="profile-wrapper">
  <div class="hero-section">
    <img src="assets/profil.png" alt="Main Photo" class="main-img">
  </div>

  <div class="content-card">
    <div class="user-info">
      <div class="user-header">
          <img  src="assets/Frame 40.png" alt="avatar" class="avatar">
          <h1 class="name">Ҷамшед Қурбонов</h1>
      </div>
      
      <div class="meta-container">
        <span class="meta-item"><i>&#64;</i>kurbonov</span>
        <span class="meta-item"><i>📍</i>ш. Хуҷанд</span>
        <span class="meta-item verified"><i>✓</i>Верифицирован</span>
      </div>
    </div>

    <div class="section">
      <p class="section-label">Я ищу</p>
      <div class="tags-row">
        <span class="tag-purple">Друзья</span>
        <span class="tag-purple">Друг</span>
      </div>
    </div>

    <div class="actions-grid">
      <button class="action-btn"><img src="assets/Vector (4).png" alt="">Сообщение</button>
      <button class="action-btn"><img src="assets/Vector (3).png" alt="">Открыть скрытые</button>
      <button class="action-btn"><img src="assets/Vector (2).png" alt="">Сохранить</button>
      <button class="action-btn"><img src="assets/Vector (1).png" alt="">В блок</button>
    </div>

    <div class="section">
      <p class="section-label">Интересы: 3</p>
      <div class="chips-container">
        <span class="chip"><img src="assets/Vector (5).png" alt="">Интерес 1</span>
        <span class="chip"><img src="assets/Vector (5).png" alt="">Интерес 2</span>
        <span class="chip"><img src="assets/Vector (5).png" alt="">Интерес 3</span>
        <span class="chip"><img src="assets/Vector (5).png" alt="">Длинный интерес N</span>
      </div>
    </div>

     <div class="section">
      <p class="section-label">Интересы: 4</p>
      <div class="chips-container">
        <span class="chip"><img src="assets/Vector (5).png" alt="">Привычка 1</span>
        <span class="chip"><img src="assets/Vector (5).png" alt="">Интерес 2</span>
        <span class="chip"><img src="assets/Vector (5).png" alt="">Большая привыч... 2</span>
        <span class="chip"><img src="assets/Vector (5).png" alt="">Большая привыч... N</span>
      </div>
    </div>

    <div class="gallery-tabs">
      <button class="tab active">Открытые фото</button>
      <button class="tab">Запросить скрытые</button>
    </div>

    <div class="photo-grid">
      <div class="photo-item large">
        <img src="assets/car1.png">
        <span class="heart-icon">♡</span>
      </div>

      <div class="photo-row">
        <div class="photo-item small">
          <img src="assets/car2.png">
          <span class="heart-icon">♡</span>
        </div>
        <div class="photo-item tall">
          <img src="assets/car3.png">
          <span class="heart-icon">♡</span>
        </div>
      </div>

      <div class="photo-row">
        <div class="photo-item tall2">
          <img src="assets/car4.png">
          <span class="heart-icon">♡</span>
        </div>
        <div class="photo-item small">
          <img src="assets/car5.png">
          <span class="heart-icon">♡</span>
        </div>
      </div>
    </div>
  </div>

  <nav class="footer-nav">
    <div class="nav-item"><img src="assets/home.png"><span>Профиль</span></div>
    <div class="nav-item"><img src="assets/galery.png"><span>Галерея</span></div>
    <div class="nav-center">
      <div class="heart-btn"><img  src="assets/dil.png"></div>
    </div>
    <div class="nav-item"><img src="assets/chat.png"><span>Чаты</span></div>
    <div class="nav-item"><img src="assets/rydom.png"><span>Рядом</span></div>
  </nav>
</div>